<div class="page-div">
  <!-- <p id="notice"><%= notice %></p> -->
  <br/>

  <div class="col-lg-12">
    <h1 id="vhistory_title">
      <i class="fa fa-fw fa-user"></i><i class="fa fa-map-marker" style="position:relative;top:8px;left:-12px;font-size:22px;"></i>&nbsp;Visiting History <%= 
      case @gokey
      when "admin"
        raw('- Administrator')
      when "customer"
        raw('- Customer')
      else
        raw('- Visitor')
      end
      %>
    </h1>
    <br/>
  </div>

  <!-- <div class="row col-lg-12" style="min-width:1200px;"> -->
  <div id="userinfo">
    <%= render 'userinfo' %>
  </div>
</div>

