<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background-color:#b5b5b5;color:black;font-family:'lato';">
    <div style="width:600px;margin:0 auto;background-color:#fefefe;">
      <div style="background-color:#3FBCDC;text-align:center;padding:25px 0;">
        <%= image_tag attachments["logo.png"].url, width:'135', alt: 'Logo' %>
      </div>
      <div style="padding:30px 25px;background-color:#f9f9f9;">
        <h3 style="color:#3FBCDC;font-size:24px;">
          <%= @subject %>
        </h3>
        <p style="font-size:16px;line-height:24px;">
          <%= @content %>
        </p>
      </div>
      <div style="background-color:#A0A0A0;width:550px;margin:0 auto;height:2px;">
      </div>
      <div style="padding:20px 25px;background-color:#f9f9f9;">
        Thanks,<br/>
        CyberAdvance Support
      </div>
      <div style="background-color:#3FBCDC;height:45px;">
      </div>
    </div>
  </body>
</html>
