<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background-color:#b5b5b5;color:black;font-family:'lato';">
    <div style="width:600px;margin:0 auto;background-color:#fefefe;">
      <div style="background-color:#3FBCDC;text-align:center;padding:25px 0;">
        <%= image_tag attachments["logo.png"].url, width:'135', alt: 'Logo' %>
      </div>
      <div style="padding:30px 25px;background-color:#f9f9f9;">
        <h3 style="color:#3FBCDC;font-size:24px;">
          Your account has been registered successfully.
        </h3>
        <p style="font-size:16px;line-height:24px;">
          Welcome to CyberAdvance.
          <br/><br/>
          We invite you to begin exploring our customer web portal at <a href="https://my.cyberadvance.com">https://my.cyberadvance.com</a>, where you have access to myriad tools to manage, maintain, scale, and support your computing environment.
          <br/><br/>
          Your temporary portal credentials are.
          <br/><br/><br/>
          <span style="color:green">
          Username: <%= @register_info.username %>
          <br/><br/>
          Password: <%= @register_info.password %>
          </span>
          <br/><br/><br/>
          You will be required to change your password after logging in.
          <br/><br/>
          If you need further sales assistance, please open a ticket via the CyberAdvance. customer portal or contact us directly at support@cyberadvance.com.
        </p>
      </div>
      <div style="background-color:#A0A0A0;width:550px;margin:0 auto;height:2px;">
      </div>
      <div style="padding:20px 25px;background-color:#f9f9f9;">
        Thanks,<br/>
        CyberAdvance
      </div>
      <div style="background-color:#3FBCDC;height:45px;">
      </div>
    </div>
  </body>
</html>
