<div class="page-div">
  <!-- <p id="notice"><%= notice %></p> -->
  <br/>

  <div class="col-lg-12">
    <h1>
      <i class="fa fa-fw fa-user"></i><i class="fa fa-fw fa-shopping-cart" style="position:relative;top:8px;left:-12px;font-size:18px;"></i>Customers List
    </h1>
    <br/>
  </div>

  <div id="customer">
    <%= render 'customer' %>
  </div>
  
</div>

<script>
  hide_loading();
</script>