<div class="page-div">
<h1 style="color:transparent!important;">
  &nbsp;&nbsp;<i class="fa fa-fw fa-ticket"></i><i class="fa fa-fw fa-edit" style="font-size:14px;top:6px;left:-8px;position:relative;"></i>&nbsp;Editing Ticket
</h1>

<%= render 'form' %>

<%#= link_to 'Show', @ticket %>
<%#= link_to 'Back', tickets_path %>
</div>