<div class="page-div">
  
  <h1 style="color:transparent!important;">
    &nbsp;&nbsp;<i class="fa fa-fw fa-ticket"><span style="font-size:24px;top:6px;left:-6px;position:relative;">+</span></i>&nbsp;New Ticket
  </h1>
  
  <%= render 'form' %>

  <%#= link_to 'Back', tickets_path %>
</div>